
services:
  mongo:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=blog_mern
    volumes:
      - db_data:/data/db
    ports:
      - "27017:27017"
  backend:
    image: node:20-alpine
    container_name: backend
    restart: unless-stopped
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app
    command: sh -c "npm install && npm run dev"
    environment:
      - PORT=3000
      - MONGO_DB_URI=mongodb://admin:adminpassword@mongo:27017/blog_mern?authSource=admin
      - JWT_SECRET=your_jwt_secret_key
      - JWT_EXPIRES_IN=1d
    ports:
      - "3000:3000"
    depends_on:
      - mongo

volumes:
  db_data:
  backend:
